/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
html, body {
  margin:0px;
  padding:0px;
}

header, body {
  text-align: center;
  margin:10px;
}
.image {
  max-width: 80%;
  justify-content: center;

}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: darkmagenta;
}

.img-container {
  flex: 1;
  margin: auto;
}

.quiz-container {
  flex: 1;
  margin: auto;
  background-color: aquamarine;
  height:500px;
}

.start-quiz {
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  margin: 15px 0;
  border-radius: 15px;
}
.score {
  position: bottom;
}
form {
  text-align: left;
  background-color: blueviolet;
  padding: 40px;
}
form {
  font-size: 15px;
}
p {
  font-size: 20px;
  padding: 0 px 15px 0px 15px;
}

/* For Desktop */

@media all and (min-width: 600px) {

  .image {
    max-width: 500px;
  }
  
  .start-quiz {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 20px 30px;
    margin: 30px 0;
    border-radius: 15px;
  }
  p {
    font-size: 25px;
  }
  form {
    font-size: 20px;
  }



}