/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

html, body {
  margin:0px;
  padding:0px;
}

body {
  border: 1px solid #56dd56 ;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-family: 'Arial';
  color: #2b2b2b;
}

header {
  text-align: center;
  margin:5px;
}

.image {
  max-width: 80%;
  border-radius: 10px;
}

.image2 {
  max-width: 60%;
  border-radius: 10px;
}

.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}

.img-container {
  flex: 1;
  text-align: center;
}

.quiz-container {
  flex: 1;
  text-align: center;
  min-height:300px;
}

button {
  flex: 1;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  padding: 7px 10px;
  margin: 15px 0;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #ffffff;
}

.submit-button {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.score {
  flex: 1;
  padding: 5px;
  font-size: 20px;
  text-align: center;
}

form {
  text-align: left;
  font-size: 19px;
  padding: 5px;
  display: inline-block;
  max-width: 300px;
}

input[type="radio"]{
  margin: 5px 5px 5px 5px;
  transform: scale(1.5);
}

h1 {
  font-size: 25px;
  color: #3a3a3a;
}
h2 {
  font-size: 20px;
}
p {
  font-size: 20px;
  padding: 0px 10px 0px 10px;
}
.img-container .final-image , .results{
  text-align: center;
}
.question-number {
  font-size: 15px;
}
/* For Desktop */

@media all and (min-width: 600px) {

  .image {
    max-width: 470px;
  }

  .image2 {
    max-width: 350px;
  }
  
  p {
    font-size: 25px;
  }

  form {
    font-size: 27px;
    max-width: 400px;
  }
  h2 {
    font-size: 30px;
  }
  .question-number {
    font-size: 25px;
  }
  input[type="radio"] {
    cursor: pointer;
  }

  button {
    padding: 13px 20px;
  }

  button:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: #66ff66;
    transition: 0.4s;
    cursor: pointer;
  }

  h1 {
    font-size: 36px;
  }

  body {
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
  }
}